deployment/secrets/*

# Java / Maven
target/
*.class
*.log
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

# Gradle (if added later)
.gradle/
build/

# JVM / tooling
.attach_pid*

# IDEs
.idea/
*.iml
.project
.classpath
.settings/
.vscode/
/jvm_tuning
